
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    
    <!DOCTYPE html>
    <html>
    <head>
        <style>
            .center {
                margin: auto;
                width: 60%;

                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="center">
            @using (Html.BeginForm("gotolist", "Sell"))
            {


                <div class="form-group">
                    <label style="font-size:25px">Select Saller</label>

                    <select name="info_id" id="info_id" style="font-size:20px">
                        @foreach (ATP2_Project.Models.Information item in (ATP2_Project.Models.Information[])ViewData["information"])
                        {

                            <option value="@item.id">@item.Full_Name </option>
                        }
                    </select>

                </div>

                <div style="top:170px; left: 20px;font-size:20px;color:blue">
                    <input type="submit" name="submit" value="submit" />
                </div>
                <div style="top:170px; right: 120px;font-size:20px;color:blue">
                    @Html.ActionLink("Add new Saller", "SellRegistration", "Sell")<br />
                </div>



            }
        </div>


        </body>
</html>
